@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
:root {
    /* VARIABLES */
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * .80);
    --cell-borders: 5px solid #000;
    --player-color: #000;
    --hover-color: #DFDFDF;
    --bg-color: #EFEFFE;
/*      --bg-color: rgb(109, 204, 248); */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    color: #1F1F1F;
    overflow: hidden;
}

.menu, .game-over {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #1f1f1fde;
    z-index: 1000;
}

.menu-container, .game-over-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #efeffe38;
    border-radius: 5px;
    padding: 1rem 1.5rem 2rem 1.5rem;
}
.menu-header, .game-over-text {
    font-size: 1.5rem;
    font-family: 'Open Sans Condensed', sans-serif;
}
.menu-header, .menu-config, .game-over-container {
    color: #FFF;
    text-align: center;
    
}
.card-header {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}
.menu-config, .newGame {
    margin-top: 1.5rem;
}
.select-player-icon {
    justify-content: center;
    grid-column-gap: .5rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.debug-btn {
    margin-top: 1.2rem;
}
.select-player {
    text-transform: uppercase;
    padding: 1rem;
    justify-self: center;
    align-self: center;
}
.header {
    padding-top: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.game-name {
    font-size: 3rem;
    font-weight: 600;
}
.playing-display {
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif; 
}
.btn {
    display: inline-block;
    padding:1.35em 2.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: #000000;
    cursor: pointer;
    user-select: none;
    outline: none;
}
.btn-sm {
    padding:1em 1.5em;
}
.btn:hover {
    color:#000000;
    background-color:#FFFFFF;
    border-color: #000000;
    }
.selected, .selected:hover {
    background-color:#7F2F4F;
    color:#FFFFFF;
    border:0.1em solid #FFFFFF;
}
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-2 { 
    border-left: var(--cell-borders);
    border-right: var(--cell-borders);
}
.row-2 {
    border-top: var(--cell-borders);
    border-bottom: var(--cell-borders);
}

.x,.o {
    cursor: default;
}
.x::after,
.x::before,
.playing-x .cell:not(.x):not(.o):hover::before,
.playing-x .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .10);
    height: var(--mark-size);
    background-color: var(--player-color);
    border-radius: 45%;
}
.x::after,
.playing-x .cell:not(.x):not(.o):hover::after {
    transform: rotate(45deg);
}
.x::before,
.playing-x .cell:not(.x):not(.o):hover::before {
    transform: rotate(-45deg);
}

.o::after,
.o::before,
.playing-o .cell:not(.x):not(.o):hover::after,
.playing-o .cell:not(.x):not(.o):hover::before {
    position: absolute;
    content: '';
    width: calc(var(--mark-size) * .8);
    height: calc(var(--mark-size) * .8);
    background-color: transparent;
    border: var(--player-color) calc(var(--mark-size) * .10) solid;
    border-radius: 50%;
}

.playing-o .cell:not(.x):not(.o):hover::after,
.playing-o .cell:not(.x):not(.o):hover::before {
    border-color: var(--hover-color);
}
.playing-x .cell:not(.x):not(.o):hover::after,
.playing-x .cell:not(.x):not(.o):hover::before {
    background-color: var(--hover-color);
}


@media (max-width: 576px) {
    :root {
        --cell-size: 120px;
    }
}